* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #020205;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

/* BACKGROUND */

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -2;

    background:
        radial-gradient(circle at 20% 20%, #ff174422, transparent 30%),
        radial-gradient(circle at 80% 80%, #0066ff22, transparent 30%),
        #020205;
}

/* SNOW */

#snow {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1000;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -20px;
    color: white;
    text-shadow: 0 0 8px white;
    animation: snowFall linear forwards;
}

@keyframes snowFall {
    from {
        transform: translateY(-20px) rotate(0deg);
        opacity: 0;
