#snow {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 50;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -20px;
    color: white;
    opacity: .8;
    font-size: 10px;
    text-shadow: 0 0 8px white;
    animation: snowfall linear forwards;
}

@keyframes snowfall {
    0% {
        transform: translateY(-20px) translateX(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: .9;
    }

    100% {
        transform: translateY(110vh) translateX(80px) rotate(360deg);
        opacity: 0;
    }
}
